.content-container {
    padding: 10%;
    height: 100vh;
    background-color: lightgrey;
    font-size: 64px;
}
.left-panel {
    background-color: navy;
}
.middle-panel {
    background-color: #FAF9EC;
}

.box {
    border: 1px solid white;
}
.left-panel {
    flex: 2;
}
.middle-panel {
    flex: 8;
}
.row {
    display: flex;
    height: 100%;
}
.intro{
    background-color: navy;
}
